OPENAI_API_KEY=your_openai_api_key_here

# İf You Use Azure OpenAI

#AZURE_OPENAI_ENDPOINT="Your_AZURE_OPENAI_ENDPOINT_Here"
#AZURE_OPENAI_API_VERSION="Your_AZURE_OPENAI_API_VERSION_Here"
#AZURE_OPENAI_API_KEY="Your_AZURE_OPENAI_API_KEY_Here"